<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Toshi</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/admin.css">

  <meta property="og:title" content="Toshi - Open source Bitcoin Node">
  <meta property="og:description" content="Toshi is a built on top of Ruby and PostgreSQL. It’s 100% Open source">
  <meta property="og:image" content="https://coinbase.com/assets/toshi/og-toshi.jpg">
  <meta property="og:type" content="website">
  <meta itemprop="name" content="Toshi - Open source Bitcoin Node">
  <meta itemprop="description" content="Toshi is a built on top of Ruby and PostgreSQL. It’s 100% Open source">
  <meta itemprop="image" content="https://coinbase.com/assets/toshi/og-toshi.jpg">

  <link rel="shortcut icon" href="/images/favicon1.ico">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/handlebars-v2.0.0.js"></script>
  <script src="js/packery.pkgd.min.js"></script>
  <script src="js/main.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
    var $container = $('.block_wraper').packery({
      itemSelector: '.block',
    });
  })
  </script>
</head>
<body class="network_explorer">
  <header>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="stats.html">Status</a></li>
                <li><a href="stats.html">Documentation</a></li>
              </ul>
            </div><!-- /.container-fluid -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="cointainer">
    <section class="page_wraper">
      <%= yield %>
    </section>
  </div>
</section>
<div class="container text-center">
  <footer>
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        <p>Toshi is 100% open source and maintained by
          <a href="https://coinbase.com/" target="_blank" class="coinbase_logo">Coinbase</a>
        </p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
