<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Toshi</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="shortcut icon" href="images/favicon1.ico">

  <meta property="og:title" content="Toshi - Open source Bitcoin Node">
  <meta property="og:description" content="Toshi is a built on top of Ruby and PostgreSQL. It’s 100% Open source">
  <meta property="og:image" content="https://coinbase.com/assets/toshi/og-toshi.jpg">
  <meta property="og:type" content="website">
  <meta itemprop="name" content="Toshi - Open source Bitcoin Node">
  <meta itemprop="description" content="Toshi is a built on top of Ruby and PostgreSQL. It’s 100% Open source">
  <meta itemprop="image" content="https://coinbase.com/assets/toshi/og-toshi.jpg">

  <link rel="shortcut icon" href="/images/favicon.ico">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/moment.js"></script>
  <script src="js/handlebars-v2.0.0.js"></script>
  <script src="js/main.js"></script>
</head>
<body class="page status">
  <header>
    <div id="header" class="container">
      <div class="row">
        <div class="col-md-5 logo">
          <h1><a href="/">TOSHI</a><i>v 0.1.0</i></h1>
        </div>
        <div class="col-md-7 features">
          <div class="text-left">
            <h3>A full bitcoin node for building web applications.</h3>
            <p>Toshi is a complete implementation of the bitcoin protocol, written in Ruby and backed by PostgreSQL.</p>
          </div>
        </div>
      </div>
    </div> <!-- container -->
  </header>
<section class="page_wraper">
  <div class="container">
      <%= yield %>
  </div>
</section>
  <footer>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-md-push-3">
          <p>
            Toshi is 100% open source and maintained by
            <a href="https://coinbase.com/" target="_blank" title="Coinbase international digital wallet for bitcoin currency" class="coinbase_logo">Coinbase</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
